// colors
$_white: #ffffff;

// sign-in
$col-sign-in-info-backdrop: rgba(0, 0, 0, .5);
$col-sign-in-info-txt: $_white;

// sign-up
$col-sign-up-info-backdrop: rgba(0, 0, 0, .5);
$col-sign-up-info-txt: $_white;
