// colors
$_white: #f8f9fa;
$_gray: #999999;
$_black: #000000;

$col-primary: #FF005A;
$col-secondary: #424242;
$col-accent: #82B1FF;
$col-error: #FF5252;
$col-info: #2196F3;
$col-success: #4CAF50;
$col-warning: #FFC107;

$z-sign-in-title: 1;
$z-sign-in-backdrop: 0;

// sign-in
$col-sign-in-info-backdrop: rgba(0, 0, 0, .5);
$col-sign-in-info-txt: $_white;

// sign-up
$col-sign-up-info-backdrop: rgba(0, 0, 0, .5);
$col-sign-up-info-txt: $_white;

// chart card
$col-chart-card-text: $_gray;
$col-chart-card-grid-stroke: rgba($_white, 0.2);
$col-chart-card-grid-stroke-secondary: rgba($_white, 0.8);
$col-chart-card-grid-stroke-third: rgba($_white, 0.4);